<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convalescent Coalescence</title>
</head>
<body>
    <h1>Welcome!</h1>

    <form action="getPractitioner">
        <input type="text">Practitioner's name
        <button type="submit">Submit</button>
    </form>
    <!-- TODO:  practitioner search -->
    <h3>Are you a practitioner? sign in <a href="/login">here</a></h3>
    <h3>New practitioner? <a href="/signup/practitioner"> Create a profile!</a></h3>    
</body>
</html>
