<% include('partials/header') -%>
<!-- when user views their own profile, show edit forms -->
<!-- <form action="">
    <label for="name">Name:</label>
    <input type="text" name="name.first" placeholder="first">
    <input type="text" name="name.middle" placeholder="middle">
    <input type="text" name="name.last" placeholder="last">
    <label for="profilePic">This is where you upload a picture of you being awesome</label>
    <label for="modalities">Which modalities do you practice?</label>
    <label for="massage">Massage</label>
    <input type="checkbox" name="modalities" value="massage">
    <label for="swedish">Swedish</label>
    <input type="checkbox" name="modalities" value="swedish">
    <label for="reiki">Reiki</label>
    <input type="checkbox" name="modalities" value="reiki">
    <label for="shiatsu">Shiatsu</label>
    <input type="checkbox" name="modalities" value="shiatsu">
    <label for="lomi-lomi">Lomi Lomi</label>
    <input type="checkbox" name="modalities" value="lomi-lomi">
    <label for="thai">Thai</label>
    <input type="checkbox" name="modalities" value="thai">
    <label for="sports">Sports</label>
    <input type="checkbox" name="modalities" value="sports">
    <label for="prenatal">Prenatal</label>
    <input type="checkbox" name="modalities" value="prenatal">
    <label for="physical-therapy">Physical Therapy</label>
    <input type="checkbox" name="modalities" value="physical-therapy">
    <label for="yoga">Yoga</label>
    <input type="checkbox" name="modalities" value="yoga">
    <label for="yin">Yin</label>
    <input type="checkbox" name="modalities" value="yin">
    <label for="hatha">Hatha</label>
    <input type="checkbox" name="modalities" value="hatha">
    <label for="vinyasa">Vinyasa</label>
    <input type="checkbox" name="modalities" value="vinyasa">
    <label for="kundalini">Kundalini</label>
    <input type="checkbox" name="modalities" value="kundalini">
    <label for="crystal">Crystal</label>
    <input type="checkbox" name="modalities" value="crystal">
    <label for="sound-bath">Sound Baths</label>
    <input type="checkbox" name="modalities" value="sound-bath">
    <label for="color">Color Therapy</label>
    <input type="checkbox" name="modalities" value="color">
    <label for="float">Sensory Deprivation</label>
    <input type="checkbox" name="modalities" value="float">
    <label for="yearsExperience">How long have you been practicing?</label>
    <input type="number" name="yearsExperience">
    <input type="textarea" name="bio" placeholder="Tell us about yourself">
    <label for="certs"> this is where you upload images of any lisences/certification you've earned</label>
    <label for="insurance"> This is where you upload images of your proof of insurance</label>
</form> -->

		<!-- Wrapper-->
        <div id="wrapper">

            <!-- Nav -->
                <nav id="nav">
                    <a href="#" class="icon solid fa-home"><span>Home</span></a>
                    <a href="#calendar" class="icon solid fa-regular fa-calendar-days"><span>Work</span></a>
                    <a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
                    <a href="https://twitter.com/ajlkn" class="icon brands fa-twitter"><span>Twitter</span></a>
                </nav>

            <!-- Main -->
                <div id="main">

                    <!-- Me -->
                        <article id="home" class="panel intro">
                            <header>
                                <h1>Jane Doe</h1>
                                <p>Senior Astral Projectionist</p>
                            </header>
                            <a href="#work" class="jumplink pic">
                                <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
                                <img src="images/me.jpg" alt="" />
                            </a>
                        </article>

                    <!-- Work -->
                        <article id="work" class="panel">
                            <header>
                                <h2>Work</h2>
                            </header>
                            <p>
                                Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                luctus elit eget interdum.
                            </p>
                            <section>
                                <div class="row">
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic01.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic02.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic03.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic04.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic05.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic06.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic07.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic08.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic09.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic10.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
                                    </div>
                                </div>
                            </section>
                        </article>

                    <!-- Contact --><!-- register as this practitioner's client -->
                        <article id="contact" class="panel">
                            <header>
                                <h2>Contact Me</h2>
                            </header>
                            <form action="#" method="post">
                                <div>
                                    <div class="row">
                                        <div class="col-6 col-12-medium">
                                            <input type="text" name="name" placeholder="Name" />
                                        </div>
                                        <div class="col-6 col-12-medium">
                                            <input type="text" name="email" placeholder="Email" />
                                        </div>
                                        <div class="col-12">
                                            <input type="text" name="subject" placeholder="Subject" />
                                        </div>
                                        <div class="col-12">
                                            <textarea name="message" placeholder="Message" rows="6"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <input type="submit" value="Send Message" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <a href="/profiles/editProfile">edit profile</a>
                            </div>
                        </article>

                </div>
                



<!-- Show practitioner profile -->
<!-- provide links to contact info -->

<!-- provide links to liscensure -->